body
{
  padding: 30px;
  background-color: #FF6666;
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
}
.center-div
{
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  height: 400px;
  background-color: #fff; /*Random change*/
  border-radius: 3px;
}

.myquote{
    display: block;
    position: absolute;
    max-width: 750px;
    max-width: 1000px;
    top: 50px;
    left: 35px;
    font-size: 38px;
    font-style: italic;
    font-family: 'Amatic SC', cursive;
}

.author{
    display: block;
    position: absolute;
    top: 220px;
    right: 40px;
    font-family: 'Acme', sans-serif;
    font-size: 29px;
}

/*Twitter*/


.tweet{
    position:absolute;
    bottom: 30px;
    left: 45px;
    min-width: 75px;
    min-height: 75px;
    background-color: #FF6666;
    border-radius: 5%;
    transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
}

.ptaszek{
    display: block;
    position: absolute;
    color: white;
    font-size: 65px;
    bottom: 6px;
    left: 8px;
}


/*New quote button*/

.mybutton{
    position:absolute;
    bottom: 30px;
    right: 30px;
    max-width: 300px;
}


button{
  min-width: 175px;
  min-height: 75px;
  display: inline-block;
	color: white;
	background-color: #FF6666;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0.1111111px solid  #FF6666;
	border-bottom-width: 0.1111111px;
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
}
